<div class="row">
    
        
          <%= form_for @contact do |f| %>
                <div class="col-md-6">    
                    <div class="well">
                        <div class="form-group">
                            
                          <h3>Personal Information</h3>
                          <%= f.label :name %>
                          <%= f.text_field :name, class: 'form-control' %>
                        
                          <%= f.label :email %>
                          <%= f.text_field :email, class: 'form-control' %>
                       
                          <%= f.label :DOB %>
                          <%= f.text_field :DOB, class: 'form-control' %> 
                         
                          <%= f.label :SS %>
                          <%= f.text_field :SS, class: 'form-control' %>
                         
                          <%= f.label :Current_Address %>
                          <%= f.text_field :Current_Address, class: 'form-control' %>
                         
                          <%= f.label :city %>
                          <%= f.text_field :city, class: 'form-control' %>
                         
                          <%= f.label :state %>
                          <%= f.text_field :state, class: 'form-control' %>
                         
                          <%= f.label :zip %>
                          <%= f.text_field :zip, class: 'form-control' %>
                          
                       </div>  
                  </div>
              </div>
              <div class="col-md-6">
                <div class="well"> 
                      <div class="form-group"> 
                         
                         <%= f.label :dependents %>
                         <%= f.text_field :dependents, class: 'form-control' %>
                         
                         <%= f.label :how_long? %>
                         <%= f.text_field :how_long?, class: 'form-control' %>
                      
                         <%= f.label :home_phone_number  %>
                         <%= f.text_field :home_phone_number, class: 'form-control'  %>
                         
                         <%= f.label :Cell_number  %>
                         <%= f.text_field :Cell_number, class: 'form-control'  %>
                     
                         <%= f.label :rent_payment  %>
                         <%= f.text_field :rent_payment, class: 'form-control'  %>
                         
                         <%= f.label :Landlord  %>
                         <%= f.text_field :Landlord, class: 'form-control'  %>
                         
                         <%= f.label :phone_number  %>
                         <%= f.text_field :phone_number, class: 'form-control'  %>
                         
                         <%= f.label :name_on_lease?  %>
                         <%= f.text_field :name_on_lease?, class: 'form-control'  %>
                    </div>  
                </div>
             </div>
        
    <div class="row">
        <div class="col-md-6"> 
            <div class="well">
                <div class="form-group"> 
                    <h3>Employment Information</h3>
                     <%= f.label :employer  %>
                     <%= f.text_field :employer, class: 'form-control'  %>
                     
                     <%= f.label :occupation  %>
                     <%= f.text_field :occupation, class: 'form-control'  %>
                     
                     <%= f.label :how_long? %>
                     <%= f.text_field :how_long?, class: 'form-control' %>
                     
                     <%= f.label :supervisor  %>
                     <%= f.text_field :supervisor, class: 'form-control'  %>
                     
                     <%= f.label :phone_number  %>
                     <%= f.text_field :phone_number, class: 'form-control'  %>
                     
                     <%= f.label :monthly_income  %>
                     <%= f.text_field :monthly_income, class: 'form-control'  %>
                     
                </div>
                <%= f.submit 'Submit', class: 'btn btn-default' %>
            </div>
          <%end%>
        </div>
    </div>
</div>