<div class="row">
    
    <%= form_for @contact do |f| %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :DOB %>
    <%= f.text_field :DOBe %>
    
    <%= f.label :SS# %>
    <%= f.text_field :SS# %>
    
    <%= f.label :Phone Number %>
    <%= f.text_field :Phone Number %>
    
    <%= f.label :Address %>
    <%= f.text_field :Address %>
    
    <%= f.label :How Long? %>
    <%= f.text_field :How Long? %>
    
    <%= f.label :Monthly Payment %>
    <%= f.text_field :Monthly Payment %>
    
    <%= f.label :Lease? %>
    <%= f.text_field :Lease? %>
    
    <%= f.label :Landlord name? %>
    <%= f.text_field :Landlord name %>
    
    <%= f.label :number %>
    <%= f.text_field :number %>
    
    <%= f.label :occupation %>
    <%= f.text_field :occupation %>
    
    <%= f.label :employer %>
    <%= f.text_field :employer %>
    
    <%end%>
    
    
    
</div>